<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>

<body>

    <header>
        <h1>The Sweet Sensations</h1>
    </header>
    <nav>
        <a href="#">Combos</a>
        <a href="#">Gifts</a>
        <a href="#">Custom Orders</a>
        <a href="#">Find Us</a>
    </nav>

    <div class="row" width="match-parent">
        <div class="column">
          <div class="card">
              <img src="/static/images/cake.svg" alt="" width="100%">
            <h3>Strawberry Extravaganza</h3>
            <p>The perfect choice for any birthday party! With the mouth watering strawberries and dripping chocolate sauce no one can withstand the urge to devour 3 slabs of it.</p>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/static/images/cake2.svg" alt="" width="100%">
            <h3>Cherry Truffle</h3>
            <p>Made with the goodness of chocolate and cherries garnished with Dry fruits, best suited for formal occasions addition of this cake would make it "Cherry on the Cake!!!"</p>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="/static/images/cake3.svg" alt="" width="100%">
            <h3>Classic Butterscotch</h3>
            <p>Make your parties royal and guests lick their fingers with this rockstar! Dazzling with Chocolate crowns, it is one of our bestseller delicacy for a reason. </p>
          </div>
        </div>
    </div>
      

    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="\static\images\circled-user-female-skin-type-5--v1.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi. My name is T.I.N.A. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" autocomplete="off" name="content" id="content" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='/images/chatbox-icon.svg') }}" /></button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>